/*--------------------------------------------------------------------
* $CONTENT
--------------------------------------------------------------------*/

body
  border-top: 4px solid $blue

.content
  max-width: 860px
  margin: 0 auto 30px
  padding: 0 10px
    
  section
    margin: 10px 0

