/*--------------------------------------------------------------------
* $FOOTER
--------------------------------------------------------------------*/

footer
  
  .content
  
    padding: 50px 0;

    p
      font-size: 18px;
      
    ul
      li
        display: inline;
        margin-right: 5px;
        
        a
          font-size: 18px;
          border-bottom: none;
  