/*--------------------------------------------------------------------
* $NAV
--------------------------------------------------------------------*/
header

  margin-bottom: 50px;

  h1.title
    
    a
      color: black
      border-bottom: none
    
    font-size: 36px;
    margin-bottom: 0;
    text-align: left;
    float: left;

  .main-nav
    
    text-align: right;
    float: right;

    li
      display: inline;
      
    li:not(:last-child)
      margin-right: 25px;
