/*--------------------------------------------------------------------
* $NAV
--------------------------------------------------------------------*/
header

  margin-bottom: 50px;
  text-align: right;

  h1.title
    
    font-size: 36px;
    margin-bottom: 0;

  .main-nav
    li
      display: inline;
      
    li:not(:last-child)
      margin-right: 25px;
