/*--------------------------------------------------------------------
* $TYPE
--------------------------------------------------------------------*/

body
  font-family: $font-family-roboto
  font-weight: light
  font-size: 18px
  line-height: 1.4
  color: black

h1, h2, h3, h4
  font-family: $font-family-montserrat
  font-weight: regular
  margin: 0 0 1em
  
p
  margin: 0 0 1em

h1
  font-size: 28px

  a
    color: inherit

h2
  font-size: 24px
  margin-bottom: .25em

h3
  font-size: 20px

a
  text-decoration: none

em
  font-style: italic

strong
  font-weight: $font-weight-semibold

small
  font-size: 14px
  color: $grey-med

.content a,
.container a
  text-decoration: none
  color: black
  font-weight: $font-weight-semibold

  &:hover
    background: gold

.wf-loading
  h1, h2, h3, p, a, blockquote, li, span, small
    opacity: 0
    transition: .15s opacity
