extends layout

block vars
  - var pageDescription = 'Kate Farrar is a product designer and nerd living in Denver, CO.'
  - var bodyClass = 'about'

block title
  | About - 

block content

  .content.center

    include includes/header
    
    h1 About Me

    section
      ul
        li 
          h3 I gasp aloud every time I see a dog.
        li
          h3 At any given moment, I am reading 3 to 5 books. <br><img src="https://media.giphy.com/media/VcizxCUIgaKpa/giphy.gif" class="img-center"> 
        li 
          h3 Tangerine is my favorite flavor of La Croix. 
        li 
          h3 According to science (a Buzzfeed quiz) I am 60% Leslie Knope and 40% Liz Lemon. <br><img src="https://media.giphy.com/media/gPpHLmAvLCpUI/giphy.gif" class="img-center"> <img src="https://media.giphy.com/media/8KXo4UdLvHd7y/giphy.gif" class="img-center">
        li 
          h3 My all time favorite TV show is The West Wing. <br><img src="https://media.giphy.com/media/cvi5B8TTckpHO/giphy.gif" class="img-center">
        li 
          h3 My bathrobe doubles as a Jedi robe.<br><img src="https://media.giphy.com/media/2jv2kK9eLalOB6CYsh/giphy.gif" class="img-center">
