extends layout

block vars
  - var pageDescription = 'Kate Farrar is a product designer and nerd living in Denver, CO.'
  - var bodyClass = 'about'

block title
  | About - 

block content

  .content

    include includes/header
    
    h1.title About Me

    section.center

      p <strong>Hi <img src="/assets/images/emoji-wave.png" width="25px" style="position:relative; top: 2px"> I'm Kate! </strong><br>I'm a designer and developer living in beautiful Denver, Colorado. I'm passionate about designing for humans, collaboration, and supporting women and minorities in tech.
      
      p <strong>Here are some silly things you should know about me:</strong><br> I gasp aloud every time I see a dog. At any given moment, I am reading 3 to 5 books. Tangerine is my favorite flavor of La Croix. According to science (a Buzzfeed quiz) I am 60% Leslie Knope and 40% Liz Lemon. My all time favorite TV show is The West Wing. My bathrobe doubles as a Jedi robe.

      h3 Want to talk? <br>Send me an email at <a href="mailto:kate.farrar@gmail.com">kate.farrar@gmail.com</a> <br>or follow me on <a href="https://twitter.com/katefarrar">Twitter</a>, <a href="https://instagram.com/katefarrar">Instagram</a>, <a href="https://dribbble.com/katefarrar">Dribbble</a>, & <a href="https://github.com/katefarrar">GitHub</a>

      p Also, here are some of my favorite gifs:

  div.gifs
    img(src='/assets/images/gifs/gif-30rock.gif')
    img(src='/assets/images/gifs/gif-westwing.gif')
    img(src='/assets/images/gifs/gif-pr.gif')
    img(src='/assets/images/gifs/gif-leia.gif')
    img(src='/assets/images/gifs/gif-marty.gif')
    img(src='/assets/images/gifs/gif-b99.gif')
    img(src='/assets/images/gifs/gif-swordstone.gif')
    img(src='/assets/images/gifs/gif-hermione.gif')
    img(src='/assets/images/gifs/gif-doggo.gif')
    img(src='/assets/images/gifs/gif-we.gif')
    img(src='/assets/images/gifs/gif-football.gif')
    img(src='/assets/images/gifs/gif-robinhood.gif')

    include includes/footer
    