extends layout

block vars
  - var pageDescription = 'Kate Farrar is a product designer and nerd living in Denver, CO.'
  - var bodyClass = 'about'

block title
  | About - 

block content

  .content

    include includes/header
    
    h1 About Me

    h2 Quick Facts

    ul
      li At any given moment, I am reading 3 to 5 books. https://giphy.com/gifs/disney-book-books-VcizxCUIgaKpa
      li Tangerine is my favorite flavor of La Croix. https://giphy.com/gifs/animation-art-design-xULW8P6m30SuplTjYQ
      li I gasp loudly anytime I see a dog. https://giphy.com/gifs/excited-screaming-jonah-hill-5GoVLqeAOo6PK
      li According to science (a Buzzfeed quiz) I am 60% Leslie Knope and 40% Liz Lemon. https://giphy.com/gifs/leslie-knope-parks-and-recreation-gPpHLmAvLCpUI https://giphy.com/gifs/pizza-30-rock-phone-8KXo4UdLvHd7y
      li My two favorite TV shows are The West Wing and Parks and Recreation. https://giphy.com/gifs/the-west-wing-cj-cregg-56VLMevr8JcGI
      li My bathrobe doubles as a Jedi robe. https://giphy.com/gifs/starwars-star-wars-the-last-jedi-xT9Iguc1FSPtLmCw5W
