extends layout

block vars
  - var pageDescription = 'Kate Farrar is a product designer and nerd living in Denver, CO.'
  - var bodyClass = 'about'

block title
  | About - 

block content

  .content

    include includes/header
    
    h1.title About Me

    section

      blockquote
        h2 "Time is money, money is power, power is pizza, pizza is knowledge."
        cite April Ludgate Dwyer
        
      p Hi :wave: I'm Kate! I'm a designer living in beautiful Denver, Colorado with pup, Rosie.
      
      p I gasp aloud every time I see a dog. At any given moment, I am reading 3 to 5 books. Tangerine is my favorite flavor of La Croix. According to science (a Buzzfeed quiz) I am 60% Leslie Knope and 40% Liz Lemon. My all time favorite TV show is The West Wing. My bathrobe doubles as a Jedi robe.

      h3.center Here are some of my favorite gifs:

      div.gifs
        img(src='/assets/images/gifs/gif-30rock.gif')
        img(src='/assets/images/gifs/gif-pr.gif')
        img(src='/assets/images/gifs/gif-b99.gif')
        img(src='/assets/images/gifs/gif-we.gif')
        img(src='/assets/images/gifs/gif-westwing.gif')
        img(src='/assets/images/gifs/gif-swordstone.gif')
        img(src='/assets/images/gifs/gif-tswift.gif')
        img(src='/assets/images/gifs/gif-arcadefire.gif')
        img(src='/assets/images/gifs/gif-bruce.gif')
        img(src='/assets/images/gifs/gif-hermione.gif')
        img(src='/assets/images/gifs/gif-football.gif')
        img(src='/assets/images/gifs/gif-doggo.gif')
        img(src='/assets/images/gifs/gif-captainmarvel.gif')
        img(src='/assets/images/gifs/gif-jedi.gif')
        img(src='/assets/images/gifs/gif-robinhood.gif')

    include includes/footer
    