extends layout

block vars
  - var pageDescription = 'Kate Farrar is a product designer and nerd living in Denver, CO.'
  - var bodyClass = 'about'

block title
  | About - 

block content

  .content

    include includes/header
    
    h1 About Me

    h2 Quick Facts

    ul
      li At any given moment, I am reading 3 to 5 books.
      li Fruit snacks are in my top 5 favorite foods.
      li I gasp loudly anytime I see a dog.
      li According to science (a Buzzfeed quiz) I am 60% Leslie Knope and 40% Liz Lemon.
      li My two favorite TV shows are The West Wing and Parks and Recreation.
      li My bathrobe doubles as a Jedi robe.
