extends layout

block vars
  - var pageDescription = 'Kate Farrar is a product designer and nerd living in Denver, CO.'
  - var bodyClass = 'about'

block title
  | About - 

block content

  .content

    include includes/header
    
    h1 About Me

    p Hello-sies...I'm Kate! A product</a> designer, strategist, and developer living in beautiful Denver, Colorado. I'm passionate about people, collaboration, and using design as a force for good.

    p I have been fortunate enough to spend the last 2.5 years of my life with the awesome team at CauseLabs as a designer working to accelerate great causes. I am a problem solver at heart and I speciailze in responsive design and building delightful sites and products for screens. I'm currently looking for a collaborative team environment where I can contribute to in a meaningful way.

    p When I'm not crushing design problems, you can find me reading a good book or re-watching episodes of Parks and Rec and The West Wing.

    h2 About Rosie

    p Rosie is my new sidekick and best friend. She loves snuggling and playing with toys. We're just getting to know each other, but I will update this with more when I know it.
