extends layout

block vars
  - var pageDescription = 'Kate Farrar is a product designer and developer living in Denver, CO.'
  - var bodyClass = 'contact'

block title
  | Contact - 

block content

  .content

    include includes/header
    
    h1.title Let's Connect

    section
      p connect links here 
      
          
    include includes/footer
    