extends layout

block vars
  - var pageDescription = 'Kate Farrar is a product designer and nerd living in Denver, CO.'
  - var bodyClass = 'home'

block content

  .content

    include includes/header

    h1 Kate Farrar is a product designer and nerd living in Denver, CO.

    h2 I'm passionate about certain things that I am going to list.

    h2 Let's get to know each other. Check out my work or read more about me.
