extends layout

block vars
  - var pageDescription = 'Kate Farrar is a product designer and nerd living in Denver, CO.'
  - var bodyClass = 'home'

block content

  .content

    include includes/header

    section.clear#intro

      p Super <span class="rotate">Simple, Customizable, Light Weight, Easy</span> Text Rotator with Style

      h1 Hello! I'm Kate - a designer and human living in Denver, CO.

      img.main-pic.overlay(src='/assets/images/katefarrar-2018.jpg' width='225px')

  hr

  .content

    section#info

      h2.center I specialize in user-driven<br> design that focuses on these things: 

      .icons-wrap

        .item
          img.icon.small(src='/assets/images/icon-lightbulb.svg')
          h3 Strategy

        .item
          img.icon.large(src='/assets/images/icon-screens.svg')
          h3 Front End Dev

        .item
          img.icon.med(src='/assets/images/icon-bubbles.svg')
          h3 Collaboration

  hr

  .content
     
    section 
    
      h2.center Let's get to know each other! <br>Check out <a href="/work">my work</a> or read more <a href="/about">about me</a>.


    
  include includes/footer
