extends layout

block vars
  - var pageDescription = 'Kate Farrar is a product designer and nerd living in Denver, CO.'
  - var bodyClass = 'home'

block content

  .content

    include includes/header

    img.main-pic.overlay(src='/assets/images/katefarrar-2018.jpg' width='300px')

    h1 Hello! I'm Kate - a product designer and human living in Denver, CO.


    h2.center I specialize in

    .wrap

      .item
        img.icon.small(src='/assets/images/icon-lightbulb.svg')
        h3 Product Design

      .item
        img.icon.large(src='/assets/images/icon-terminal.svg')
        h3 Front End Development

      .item
        img.icon.med(src='/assets/images/icon-bolt.svg')
        h3 Collaboration


    h2 Let's get to know each other. Check out my work or read more about me.