extends layout

block vars
  - var pageDescription = 'Kate Farrar is a product designer and nerd living in Denver, CO.'
  - var bodyClass = 'work'

block title
  | Recent Work - 

block content

  .content

    include includes/header

    h1 Recent Work

    .work-wrap

      .work-item.key

        h2 Open Ideo<span class="red"></span></span><span class="blue"></span><span class="orange"></span>
        p Social platform connecting designers in the Open Ideo Chapters and Amplify programs.
        ul

      .work-item.key

        h2 Blue Planet Network<span class="red"></span></span><span class="blue"></span>
        p Technology platform for water and sanitation projects in developing countries.

      .work-item.key

        h2 SimpleWebRTC<span class="red"></span></span><span class="blue"></span>
        p Website for realtime React modules application

      .work-item.key

        h2 Balancing Act<span class="red"></span></span><span class="blue"></span><span class="orange"></span>
        p An online experience to engage citizens in public budgeting from the federal to city level.

      .work-item.key

        h2 CauseLabs<span class="red"></span></span><span class="blue"></span><span class="orange"></span>
        p Complete website redesign for CauseLabs, a socially concious innovation firm.

        h2 Taxpayer Receipt<span class="red"></span></span><span class="blue"></span><span class="orange"></span>
        p Digital receipt for citizens to see how much they paid in taxes for each item in a budget.

      .work-item.key

        h2 Electric Buffalo Co<span class="blue"></span><span class="green"></span>
        p eCommerce site for Nashville-based clothing and lifestyle brand.

    .key
      p
        <span class="red"></span>product design
      p
        <span class="blue"></span>front end development
      p
        <span class="green"></span>shopify integration
      p
        <span class="orange"></span>craft cms integration



    
