extends layout

block vars
  - var pageDescription = 'Kate Farrar is a product designer and nerd living in Denver, CO.'
  - var bodyClass = 'work'

block title
  | Recent Work - 

block content

  .content

    include includes/header

    h1.title Recent Work

    section.clear

      .work-wrap.light-blue.clear

        .logo-wrap
          img(src='/assets/images/work-logo-open-ideo.png')

        .work-info
          h2 Open Ideo
          
          p Social platform connecting designers in the Open Ideo Chapters and Amplify programs.

          p.small Services: product design, user experience, user interface, responsive web, front end development

          .button-wrap
            button
              a(href='https://beta.openideo.com/chapters') View Site
            button
              a(href="https://beta.openideo.com/chapters") View App

      .work-wrap.yellow.clear

        .logo-wrap
          img(src='/assets/images/work-logo-bpn.png' class='bpn')

        .work-info
          h2 Blue Planet Network
          
          p Technology platform for water and sanitation projects in developing countries.
          
          p.small Services: product design, user experience, user interface, responsive web, front end development
          
          .button-wrap
            button
              a(href="http://blueplanetnetwork.org/") View Site
            button
              a(href="http://blueplanetnetwork.org/map/") View App

      .work-wrap.pink.clear

        .logo-wrap
          img(src='/assets/images/work-logo-swrtc.png')

        .work-info
          h2 SimpleWebRTC
          
          p Responsive website for realtime React modules product built by &yet
          
          p.small Services: user experience, user interface, responsive web, front end development
          
          .button-wrap
            button
              a(href="http://openideo.com") View Site

      .work-wrap.teal.clear

        .logo-wrap
          img(src='/assets/images/work-logo-ba.png')

        .work-info
          h2 Balancing Act
          
          p An online experience to engage citizens in public budgeting from the federal to city level.
          
          p.small Services: product design, user experience, user interface, front end development
          
          .button-wrap
            button
              a(href="http://abalancingact.com") View Site
            button
              a(href="http://greensboronclgba.v1.abalancingact.com/") View App

      .work-wrap.dark-blue.clear

        .logo-wrap
          img(src='/assets/images/work-logo-causelabs.png')

        .work-info
          h2 CauseLabs
          
          p Complete website redesign for CauseLabs, a socially concious innovation firm.
          
          p.small Services: user experience, user interface, responsive web, front end development
          
          .button-wrap
            button
              a(href="http://causelabs.com") View Site

      .work-wrap.red.clear

        .logo-wrap
          img(src='/assets/images/work-logo-denver.png')

        .work-info
          h2 Denver Taxpayer Receipt
          
          p Digital receipt for citizens to see how much they paid in taxes for each item in a budget.
          
          p.small Services: product design, user experience, user interface, front end development
          
          .button-wrap
            button
              a(href="http://abalancingact.com/solutions/tax-receipt") View Site
            button
              a(href="http://denver.abalancingact.com/taxreceipt") View App



