extends layout

block vars
  - var pageDescription = 'Kate Farrar is a product designer and nerd living in Denver, CO.'
  - var bodyClass = 'work'

block title
  | Recent Work - 

block content

  .content

    include includes/header

    h1 Recent Work

    h2 Open Ideo
    p Social platform connecting designers in the Open Ideo Chapters and Amplify programs.

    h2 Blue Planet Network
    p Technology platform for water and sanitation projects in developing countries.

    h2 Balancing Act
    p An online experience to engage citizens in public budgeting from the federal to city level.

    h2 CauseLabs
    p Complete website redesign for CauseLabs, a socially concious innovation firm.

    h2 Taxpayer Receipt
    p Digital receipt for citizens to see how much they paid in taxes for each item in a budget.

    h2 Electric Buffalo Co
    p eCommerce site for Nashville-based clothing and lifestyle brand.

    h2 SimpleWebRTC
    p Website for realtime React modules application
