extends layout

block vars
  - var pageDescription = 'Kate Farrar is a product designer and nerd living in Denver, CO.'
  - var bodyClass = 'work'

block title
  | Recent Work - 

block content

  .content

    include includes/header

    h1 Recent Work

    section.work-wrap.clear

      .col
        h2 Open Ideo<span class="red"></span></span><span class="blue"></span>
        
        p Social platform connecting designers in the Open Ideo Chapters and Amplify programs.

        p.small Services: product design, user experience, user interface, responsive web, front end development

        .button-wrap
          button.button-blue
            a(href="https://beta.openideo.com/chapters") View Site
          button.button-blue
            a(href="https://beta.openideo.com/chapters") View App


      .col
        h2 Blue Planet Network<span class="red"></span></span><span class="blue"></span>
        p Technology platform for water and sanitation projects in developing countries.
        
        p.small Services: product design, user experience, user interface, responsive web, front end development
        
        .button-wrap
          button.button-blue
            a(href="https://beta.openideo.com/chapters") View Site
          button.button-blue
            a(href="http://openideo.com") View App

      .col
        h2 SimpleWebRTC<span class="green"></span><span class="blue"></span>

        p Responsive website for realtime React modules product built by &yet

        p.small Services: user experience, user interface, responsive web, front end development
        
        .button-wrap
          button.button-blue
            a(href="http://openideo.com") View Site

      .col
        h2 Balancing Act<span class="red"></span><span class="blue"></span>

        p An online experience to engage citizens in public budgeting from the federal to city level.

        p.small Services: product design, user experience, user interface, front end development

        .button-wrap
          button.button-blue
            a(href="https://beta.openideo.com/chapters") View Site
          button.button-blue
            a(href="http://openideo.com") View App

      .col
        h2 CauseLabs<span class="green"></span><span class="blue"></span></span>

        p Complete website redesign for CauseLabs, a socially concious innovation firm.

        p.small Services: user experience, user interface, responsive web, front end development

        .button-wrap
          button.button-blue
            a(href="http://openideo.com") View Site
      
      .col
        h2 Taxpayer Receipt<span class="red"></span><span class="blue"></span>

        p Digital receipt for citizens to see how much they paid in taxes for each item in a budget.

        p.small Services: product design, user experience, user interface, front end development

        .button-wrap
          button.button-blue
            a(href="https://beta.openideo.com/chapters") View Site
          button.button-blue
            a(href="http://openideo.com") View App

    
        //- li.key
        //-   <span class="red"></span>product design
        //- li.key
        //-   <span class="green"></span>responsive web design
        //- li.key
        //-   <span class="blue"></span>front end development