extends layout

block vars
  - var pageDescription = 'Kate Farrar is a product designer and nerd living in Denver, CO.'
  - var bodyClass = 'work'

block title
  | Recent Work - 

block content

  .content

    include includes/header

    h1 Recent Works

    h2 Open Ideo
    p Social platform connecting designers in the Open Ideo Chapters and Amplify programs.
    ul
      li product design
      li user interface
      li user experience
      li responsive web
      li html5
      li sass
      li vue.js
      li craft cms integration

    h2 Blue Planet Network
    p Technology platform for water and sanitation projects in developing countries.
    ul
      li product design
      li user interface
      li user experience
      li html5
      li sass

    h2 SimpleWebRTC
    p Website for realtime React modules application
    ul
      li product design
      li user interface
      li user experience
      li responsive web
      li html5
      li sass
      li vue.js
      li craft cms integration

    h2 Balancing Act
    p An online experience to engage citizens in public budgeting from the federal to city level.
    ul
      li product design
      li user interface
      li user experience
      li responsive web
      li html5
      li sass
      li vue.js
      li craft cms integration

    h2 CauseLabs
    p Complete website redesign for CauseLabs, a socially concious innovation firm.
    ul
      li product design
      li user interface
      li user experience
      li responsive web
      li html5
      li sass
      li vue.js
      li craft cms integration

    h2 Taxpayer Receipt
    p Digital receipt for citizens to see how much they paid in taxes for each item in a budget.
    ul
      li product design
      li user interface
      li user experience
      li responsive web
      li html5
      li sass
      li vue.js
      li craft cms integration

    h2 Electric Buffalo Co
    p eCommerce site for Nashville-based clothing and lifestyle brand.
    ul
      li Shopify integration
      li user interface
      li user experience
      li responsive web
      li html5
      li jQuery
      li sass
      li liquid templating
      li 

    
