/*--------------------------------------------------------------------
* $VARIABLES
--------------------------------------------------------------------*/

// Font Families
$font-family-montserrat = 'Montserrat', sans-serif,
$font-family-roboto = 'Roboto', sans-serif

// Font Weights
$font-weight-thin = 100
$font-weight-light = 300
$font-weight-medium = 500
$font-weight-semibold = 600

// Grid

grid-col-full()
  grid-column: 1 / -1

grid-row-full()
  grid-row: 1 / -1

// Colors

$blue = #4C84E3
$purple = #AD5FF2
$orange = #FD5D51


