footer

  .content

    section

      ul.center
        li: a(href='/work') Work |
        li: a(href='/about') About |
        li: a(href='https://twitter.com/katefarrar') @katefarrar

      p.center Copyright © 2018 Kate Farrar. <3

