/*--------------------------------------------------------------------
* $ABOUT
--------------------------------------------------------------------*/

.about
  
  .gifs
    margin: 0 auto;
    text-align: center;
    
    img
      display: block;
      text-align: center;
      margin: 0 auto;