/*--------------------------------------------------------------------
* $ABOUT
--------------------------------------------------------------------*/

.about
  
  .gifs
    margin: 0 auto;
    text-align: center;