/*--------------------------------------------------------------------
* $ABOUT
--------------------------------------------------------------------*/

header.about
  background-image: url('../images/about-bg.jpg')
  background-size: cover;
  background-position: center;
  height: 400px;

.about
  
  blockquote
    margin: 0 auto;
    
  p
    font-size: 20px;
    
  p, h3
    padding: 5px 0;
    
  ul
    margin-bottom: 20px;
    list-style-type: disc;
    
    li
      list-style-position: inside;
  
  .gifs
    margin: 0 auto;
    text-align: center;
    
    img
      display: block;
      text-align: center;
      margin: 10px auto 0;
      height: 200px;
