/*--------------------------------------------------------------------
* $HOME
--------------------------------------------------------------------*/
.content
  max-width: 700px;
  
header
  padding-top: 50px;
    
.home
  .main-pic
    border-radius: 50%;
  
  .overlay
    background-color: $purple;
    opacity: .5;
  
//   h1.title
//     font-size: 60px;
    
//   .main-nav
//     li
//       font-size: 36px;