/*--------------------------------------------------------------------
* $HOME
--------------------------------------------------------------------*/
.content
  max-width: 700px;
  
header
  padding-top: 50px;
    
.home
  .main-pic
    border-radius: 50%;
  
  .overlay
    background-color: $purple;
    opacity: .5;
  
.wrap
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  
  .item
    order: 1;
    text-align: center;
    
    
    img
      margin: 0 auto;
      
    .large
      width: 165px;
    .med
      width: 135px;
    .small
      width: 95px;
      
