/*--------------------------------------------------------------------
* $HOME
--------------------------------------------------------------------*/
.content
  max-width: 700px;
  
header
  padding-top: 50px;
    
// .home
//   padding-top: 125px;
  
//   h1.title
//     font-size: 60px;
    
//   .main-nav
//     li
//       font-size: 36px;