/*--------------------------------------------------------------------
* $WORK
--------------------------------------------------------------------*/

.work

  .content
    margin: 0 auto;
    max-width: 900px;
  
    .work-wrap

      margin: 60px 0 0;
      
      .logo-wrap
        
        float: left;
        margin: 0 auto;
        height: 250px;
        max-width: 250px;
        z-index: 1000;
        text-align: center;

        img
          position: relative;
          top: 40%;
          max-width: 75%;

      .work-info
        border: 2px solid;
        float: left;
        max-width: 70%;
        position: relative;
        left: -30px;
        top: 12px;
        padding-left: 50px;
        padding-bottom: 30px;
        padding-top: 30px;
        z-index: -1;
        padding-right: 22px;

        p.small
          font-size: 12px;
          padding-bottom: 5px;
          margin-bottom: 0;
        
      .button-wrap
        margin: 10px 10px 0 0;
        
    .light-blue
      .logo-wrap
        background-color: $work-light-blue;
      .work-info
        border-color: $work-light-blue;
        background-color: $work-light-blue-fade;

        button
          border: 2px solid $work-light-blue;
          
          a
            color: $work-light-blue;

        
    .dark-blue
      .logo-wrap
        background-color: $work-dark-blue;
      .work-info
        border-color: $work-dark-blue;
        background-color: $work-dark-blue-fade;

        button
          border: 2px solid $work-dark-blue;
          
          a
            color: $work-dark-blue;

    .pink
      .logo-wrap
        background-color: $work-pink;
      .work-info
        border-color: $work-pink;
        background-color: $work-pink-fade;

        button
          border: 2px solid $work-pink;
          
          a
            color: $work-pink;
      
    .yellow
      .logo-wrap
        background-color: $work-yellow;
      .work-info
        border-color: $work-yellow;
        background-color: $work-yellow-fade;
        
        button
          border: 2px solid $work-yellow;
          
          a
            color: $work-yellow;
      
    .teal
      .logo-wrap
        background-color: $work-teal;
      .work-info
        border-color: $work-teal;
        background-color: $work-teal-fade;

        button
          border: 2px solid $work-teal;
          
          a
            color: $work-teal;
      
    .red
      .logo-wrap
        background-color: $work-red;
      .work-info
        border-color: $work-red;
        background-color: $work-red-fade;
        
        button
          border: 2px solid $work-red;
          
          a
            color: $work-red;

