/*--------------------------------------------------------------------
* $WORK
--------------------------------------------------------------------*/

.work

  .content
    margin: 0 auto;
    width: 900px;
  
    .work-wrap

      
      .col
        float: left;
        width: 48%;
        padding: 20px 15px 20px 15px;
        margin: 10px 10px 0 0;
        min-height: 200px;
        // background-color: $blue;
        box-shadow: 10px 10px 50px -5px rgba(100,95,242,0.15);
        position: realtive;
        
        h2
          color: $blue;
        
        p
          margin-bottom: 5px;
          padding-bottom: 20px;
          
        p.small
          font-size: 12px;
          padding-bottom: 5px;
          margin-bottom: 0;

        li
          display: inline
          margin-right: 5px
          font-size: 12px;
          
        li:last-child
          margin-right: 0


        .button-wrap
          margin: 10px 0;
        

      .key
        
        span
          display: inline-block
          border-radius: 50%;
          width: 15px;
          height: 15px;
          margin-right: 2px;
          margin-left: 2px;
          padding: 0 4px;
          
        span.red
          background-color: $purple-two;
          
        span.blue
          background-color: $light-blue;
          
        span.green
          background-color: $green;
          
          
      .key-top
        li
          font-size: 12px;
          display: inline;
          margin-right: 15px;
          &:last-child
            margin-right: 0;
