/*--------------------------------------------------------------------
* $WORK
--------------------------------------------------------------------*/

.work

  li
    display: inline
    margin-right: 5px
    
  li:last-child
    margin-right: 0
